<!DOCTYPE html>
<html lang="en" >

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <title>工业控制平台</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/countdown_style.css') }}" type="text/css" />
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>

<body background="{{ url_for('static', filename='img/testPic.png') }}" style="background-size: 100%;">
	<img src="{{ url_for('static', filename='img/testPic.png') }}" width="100%" height="100%"/>
	<form role="form">
		<div class="form-group">
			<div style="display: inline-block;margin-top: 50px;margin-left: 500px;">
				<div style="display: inline-block;">
					<select class="form-control" id="_minute" style="width:100px">
				</select>
				</div>
				&nbsp;<span style="color:white">分</span>
				<div style="display: inline-block;">
					<select class="form-control" id="_second" style="width:100px">
				</select>
				</div>
				&nbsp;<span style="color:white">秒</span> </div>
			<div style="display: inline-block;">
				<button class="btn btn-success" type="button" id="start_">Start</button>
				<button class="btn btn-danger" type="button" id="reset_">Reset</button>
			</div>
		</div>
		<div class="time">
			<div class="digit minutes">
				<div class="segment"></div>
				<div class="segment"></div>
				<div class="segment"></div>
				<div class="segment"></div>
				<div class="segment"></div>
				<div class="segment"></div>
				<div class="segment"></div>
			</div>
			<div class="digit minutes">
				<div class="segment"></div>
				<div class="segment"></div>
				<div class="segment"></div>
				<div class="segment"></div>
				<div class="segment"></div>
				<div class="segment"></div>
				<div class="segment"></div>
			</div>
			<div class="separator"></div>
			<div class="digit seconds">
				<div class="segment"></div>
				<div class="segment"></div>
				<div class="segment"></div>
				<div class="segment"></div>
				<div class="segment"></div>
				<div class="segment"></div>
				<div class="segment"></div>
			</div>
			<div class="digit seconds">
				<div class="segment"></div>
				<div class="segment"></div>
				<div class="segment"></div>
				<div class="segment"></div>
				<div class="segment"></div>
				<div class="segment"></div>
				<div class="segment"></div>
			</div>
		</div>
	</form>
	<script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static',filename='js/countdown.js') }}"></script>
	<script type="text/javascript">
	$(document).ready(function() {
		var date_str = "";
		for (var i = 0; i <= 23; i++) {
			var d_;
			i < 10 ? d_ = "0" + i : d_ = i;
			date_str = date_str + "<option>" + d_ + "</option><br/>"
		}
		$("#_minute").append(date_str);
		var time_str = "";
		for (var i = 0; i <= 59; i++) {
			var t_;
			i < 10 ? t_ = "0" + i : t_ = i;
			time_str = time_str + "<option>" + t_ + "</option><br/>"
		}
		$("#_second").append(time_str);
	});
	$(document).ready(function() {
		// $("#start_").click(function() {
		// 	var m_ = $("#_minute").val();
		// 	var s_ = $("#_second").val();
		// 	seconds_ = m_ * 60 + s_ * 1;
		// });
		// $("#reset_").click(function() {
		// 	$("#_minute").val("00");
		// 	$("#_second").val("00");
		// 	seconds_ = 0;
		// 	clearInterval(timer);
		// });
		seconds_ = 20 * 60 + 0 * 1;
		setInterval(function() {
			$.ajax({
				url: "getAttackStatus",
				type: "GET",
				dataType: "json",
				success: function (data) {
					//console.log(data[0]);
					if (!data[0]['attack_status']) {
						window.location.href = 'defence';
					}
				}
			})
		}, 1000);
	});
	</script>
	
</body>

</html>
